{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<form>
  <div class="form-group">
    <div>
    <h3>Hotels</h3>
      <select class="form-control">
      {% for hotel in hotels %}
          <option>{{ hotel.name }}</option>
      {% endfor %}
      </select>
  </div>
  <div class="form-group">
    <h3>Restaurants</h3>
      <select class="form-control">
      {% for restaurant in restaurants %}
          <option>{{ restaurant.name }}</option>
      {% endfor %}
      </select>
  </div>
  <div class="form-group">
    <h3>Activities</h3>
      <select class="form-control">
      {% for activity in activities %}
          <option>{{ activity.name }}</option>
      {% endfor %}
      </select>
  </div>
  </div>
</form>
{% endblock %}


