<!DOCTYPE html>
<html>
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <!-- Stylesheets go here! -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/stylesheets/styles.css" rel="stylesheet">
  </head>
  <body>
  <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <a id="brand-logo" class="navbar-left" href="#"><i class="material-icons md-48">map</i></a>
          <a id="brand-name" class="navbar-left brand-logo" href="#">KazMike Tripplanner</a>
        <ul class="nav navbar-nav">
          <li><a href="#"></a></li>
          <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      </div>
    </nav>

    <!-- Main Body -->
    <div class="container-fluid">
      <div class="row">
        <!-- Map -->
        <div class="col-xs-12 col-sm-8 map-block">
          [MAP]
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="row">
            <!-- Options Panel -->
            <div class="col-xs-12 col-sm-12 options-block">
              [Options]
              {% block content %}
              {% endblock %}
            </div>
            <!-- Intinerary -->
            <div class="col-xs-12 col-sm-12 intinerary-block">
              [MAP]
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Script tags go here! -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAglM8Du0owrHbA4kD_PMq7Bxmzpff-738&sensor=true"></script>
<script type="text/javascript" src="/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
