/* for material icons */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  position: relative; }

.material-icons.md-48 {
  font-size: 48px; }

/* Navbar Styles */
#brand-logo, #brand-name {
  pointer-events: none;
  color: #F67280; }

#brand-name {
  padding: 10px 10px;
  font-size: 20px; }

.navbar {
  margin-bottom: 0; }

/* Body styles */
body {
  background-color: #6C5B7B; }

/*.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: $fifth-color;
}*/
.map-block {
  background-color: grey;
  height: 600px; }

.options-block {
  background-color: #F8B195;
  height: 300px; }
  .options-block h3 {
    color: #355C7D; }

.intinerary-block {
  background-color: #355C7D;
  height: 300px; }
  .intinerary-block h3 {
    color: white; }
